<%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete } %>

<h1>ToDo一覧</h1>

<table class="table">
 <thead class="table-primary">
  <tr>
   <th>件名</th>
   <th>カテゴリ</th>
   <th>期限</th>
   <th>重要度</th>
  </tr>
 </thead>

 <tbody>
  <% @tasks.each do |task| %>
   <tr>
    <td><%= task.title %></td>
    <td><%= task.category&.name %></td>
    <td><%= task.deadline_on %></td>
    <td><%= task.importance %></td>
   </tr>
  <% end %>
 </tbody>
</table>

<%= link_to '新規作成', new_task_path, class: 'btn btn-primary' %>

