<%= link_to '新規作成', new_task_path, class: 'btn btn-primary' %>
<%= link_to 'カテゴリ', new_category_path, class: 'btn btn-primary' %>
<%= link_to 'ログアウト', destroy_user_session_path, data: { turbo_method: :delete }, class: 'btn btn-primary' %>

<h1>ToDo一覧</h1>

<table class="table">
 <thead class="table-primary">
  <tr>
   <th width="30%"><%= sort_link(@q, :title, "件名") %></th>
   <th width="30%"><%= sort_link(@q, :category_id, "カテゴリ") %></th>
   <th width="30%"><%= sort_link(@q, :deadline_on, "期限") %></th>
   <th width="10%"><%= sort_link(@q, :importance, "重要度") %></th>
  </tr>
 </thead>

 <tbody>
  <% @tasks.each do |task| %>
   <tr>
    <td><%= link_to task.title, edit_task_path(task) %></td>
    <td><%= task.category&.name %></td>
    <td><%= l task.deadline_on %></td>
    <td><%= task.importance_i18n %></td>
   </tr>
  <% end %>
 </tbody>
</table>


